#### combine first and last name
#### create total minuites 
#### Rename devision to gender
#### Need to put city state lat long

In [1]:
pip install geopy

Requirement already satisfied: geopy in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from geopy.extra.rate_limiter import RateLimiter

In [3]:
df = pd.read_csv('UltraSignUp.csv')

In [4]:
df.head()

,Place,First,Last,City,State,Age,Division,Time,Unnamed: 8,Unnamed: 9
0,1,Daniel,Wilson,Tulsa,OK,35,M,8:23:01,NaN,NaN
1,2,Eric,Davis,Greenwood,IN,38,M,8:57:54,NaN,NaN
2,3,Stewart,Edwards,New Smyrna Beach,FL,43,M,9:24:35,NaN,NaN
3,4,Ron,Hammett,Montverde,FL,53,M,9:24:36,NaN,NaN
4,5,Seth,Cain,Geneva,FL,44,M,9:42:17,NaN,NaN

In [5]:
df2 = df.dropna(axis=1)

In [6]:
df2.head()

   Place    First     Last              City State  Age Division     Time
0      1   Daniel   Wilson             Tulsa    OK   35        M  8:23:01
1      2     Eric    Davis         Greenwood    IN   38        M  8:57:54
2      3  Stewart  Edwards  New Smyrna Beach    FL   43        M  9:24:35
3      4      Ron  Hammett         Montverde    FL   53        M  9:24:36
4      5     Seth     Cain            Geneva    FL   44        M  9:42:17

In [7]:
df2['FullName']= df2['First'] +' '+ df2['Last']

C:\Users\gkk46\AppData\Local\Temp\ipykernel_46404\1832731204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['FullName']= df2['First'] +' '+ df2['Last']

In [8]:
df2.head()

,Place,First,Last,City,State,Age,Division,Time,FullName
0,1,Daniel,Wilson,Tulsa,OK,35,M,8:23:01,Daniel Wilson
1,2,Eric,Davis,Greenwood,IN,38,M,8:57:54,Eric Davis
2,3,Stewart,Edwards,New Smyrna Beach,FL,43,M,9:24:35,Stewart Edwards
3,4,Ron,Hammett,Montverde,FL,53,M,9:24:36,Ron Hammett
4,5,Seth,Cain,Geneva,FL,44,M,9:42:17,Seth Cain

In [9]:
df2 ['Time'] = pd.to_timedelta(df2['Time'])

C:\Users\gkk46\AppData\Local\Temp\ipykernel_46404\1481803774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2 ['Time'] = pd.to_timedelta(df2['Time'])

In [10]:
df2['Total_Minutes'] = df2['Time'].dt.total_seconds()/60

In [11]:
df2['Total_Minutes'] = df2['Total_Minutes'].round().astype(int)

In [12]:
df2.head()

,Place,First,Last,City,State,Age,Division,Time,FullName,Total_Minutes
0,1,Daniel,Wilson,Tulsa,OK,35,M,0 days 08:23:01,Daniel Wilson,503
1,2,Eric,Davis,Greenwood,IN,38,M,0 days 08:57:54,Eric Davis,538
2,3,Stewart,Edwards,New Smyrna Beach,FL,43,M,0 days 09:24:35,Stewart Edwards,565
3,4,Ron,Hammett,Montverde,FL,53,M,0 days 09:24:36,Ron Hammett,565
4,5,Seth,Cain,Geneva,FL,44,M,0 days 09:42:17,Seth Cain,582

In [13]:
df2.rename(columns={'Division': 'Gender'}, inplace =True)

In [14]:
def get_lat_long(city,state):
    address = f"{city},{state}"
    try:
        geolocator = Nominatim(user_agent="running",timeout=10)
        location = geolocator.geocode(address)
        if location:
            return location.latitude, location.longitude
        else:
            return None,None
    except GeocoderTimedOut:
        return None,None

In [15]:
df2['latitude'],df2['longitude'] = zip (*df2.apply(lambda x: get_lat_long(x['City'],x['State']),axis=1))

In [16]:
df2.head()

,Place,First,Last,City,State,Age,Gender,Time,FullName,Total_Minutes,latitude,longitude
0,1,Daniel,Wilson,Tulsa,OK,35,M,0 days 08:23:01,Daniel Wilson,503,36.156312,-95.992752
1,2,Eric,Davis,Greenwood,IN,38,M,0 days 08:57:54,Eric Davis,538,39.613699,-86.109543
2,3,Stewart,Edwards,New Smyrna Beach,FL,43,M,0 days 09:24:35,Stewart Edwards,565,29.025813,-80.927127
3,4,Ron,Hammett,Montverde,FL,53,M,0 days 09:24:36,Ron Hammett,565,28.600277,-81.673964
4,5,Seth,Cain,Geneva,FL,44,M,0 days 09:42:17,Seth Cain,582,28.739716,-81.115062

In [17]:
df2['latlong'] = df2['latitude'].astype(str) + ',' + df2['longitude'].astype(str)

In [18]:
df2.head()

,Place,First,Last,City,State,Age,Gender,Time,FullName,Total_Minutes,latitude,longitude,latlong
0,1,Daniel,Wilson,Tulsa,OK,35,M,0 days 08:23:01,Daniel Wilson,503,36.156312,-95.992752,"36.1563122,-95.9927516"
1,2,Eric,Davis,Greenwood,IN,38,M,0 days 08:57:54,Eric Davis,538,39.613699,-86.109543,"39.6136987,-86.1095429"
2,3,Stewart,Edwards,New Smyrna Beach,FL,43,M,0 days 09:24:35,Stewart Edwards,565,29.025813,-80.927127,"29.0258132,-80.9271271"
3,4,Ron,Hammett,Montverde,FL,53,M,0 days 09:24:36,Ron Hammett,565,28.600277,-81.673964,"28.6002769,-81.673964"
4,5,Seth,Cain,Geneva,FL,44,M,0 days 09:42:17,Seth Cain,582,28.739716,-81.115062,"28.7397163,-81.1150616"

In [20]:
df2.to_csv('UltraSignUp_cleaned.csv', index = False)